<!--**********************************
            Sidebar start
        ***********************************-->
        <div class="dlabnav">
			<div class="dlabnav-scroll">	
				<ul class="metismenu" id="menu">
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-symbols-outlined">home</i>
							<span class="nav-text">Dashboard</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/index.html">Dashboard Light</a></li>
							<li><a href="/app/pages/index-2.html">Dashboard Dark</a></li>
							<li><a href="/app/pages/finance.html">Finance</a></li>
						</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">school</i>
						<span class="nav-text">Student</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="/app/pages/student.html">Student</a></li>
						<li><a href="/app/pages/student-detail.html">Student Detail</a></li>
						<li><a href="/app/pages/add-student.html">Add New Student</a></li>
						
					</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">person</i>
						<span class="nav-text">Teacher</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="/app/pages/teacher.html">Teacher</a></li>
						<li><a href="/app/pages/teacher-detail.html">Teacher Detail</a></li>
						<li><a href="/app/pages/add-teacher.html">Add New Teacher</a></li>
						
					</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-symbols-outlined">restaurant_menu</i>
						<span class="nav-text">Food</span>
					</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/food.html">Food menu</a></li>
							<li><a href="/app/pages/food-details.html">Food Detail</a></li>
						</ul>

					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-icons">folder</i>	
						<span class="nav-text">File Manager</span>
					</a>
					<ul aria-expanded="false">
						<li><a href="/app/pages/file-manager.html">File Manager</a></li>
						<li><a href="/app/pages/user.html">User</a></li>	
						<li><a href="/app/pages/celandar.html">Calendar</a></li>		
						<li><a href="/app/pages/chat.html">Chat</a></li>
						<li><a href="/app/pages/activity.html">Activity</a></li>	
					</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-icons"> app_registration </i>
						<span class="nav-text">Apps</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./app-profile.html">Profile</a></li>
							<li><a href="/app/pages/./edit-profile.html">Edit Profile</a></li>
							<li><a href="/app/pages/./post-details.html">Post Details</a></li>
							<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Email</a>
								<ul aria-expanded="false">
									<li><a href="/app/pages/./email-compose.html">Compose</a></li>
									<li><a href="/app/pages/./email-inbox.html">Inbox</a></li>
									<li><a href="/app/pages/./email-read.html">Read</a></li>
								</ul>
							</li>
							<li><a href="/app/pages/./app-calender.html">Calendar</a></li>
							<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Shop</a>
								<ul aria-expanded="false">
									<li><a href="/app/pages/./ecom-product-grid.html">Product Grid</a></li>
									<li><a href="/app/pages/./ecom-product-list.html">Product List</a></li>
									<li><a href="/app/pages/./ecom-product-detail.html">Product Details</a></li>
									<li><a href="/app/pages/./ecom-product-order.html">Order</a></li>
									<li><a href="/app/pages/./ecom-checkout.html">Checkout</a></li>
									<li><a href="/app/pages/./ecom-invoice.html">Invoice</a></li>
									<li><a href="/app/pages/./ecom-customers.html">Customers</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
						<i class="material-icons"> assessment </i>
							<span class="nav-text">Charts</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./chart-flot.html">Flot</a></li>
							<li><a href="/app/pages/./chart-morris.html">Morris</a></li>
							<li><a href="/app/pages/./chart-chartjs.html">Chartjs</a></li>
							<li><a href="/app/pages/./chart-chartist.html">Chartist</a></li>
							<li><a href="/app/pages/./chart-sparkline.html">Sparkline</a></li>
							<li><a href="/app/pages/./chart-peity.html">Peity</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							
							<i class="material-icons"> favorite </i>
							<span class="nav-text">Bootstrap</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./ui-accordion.html">Accordion</a></li>
							<li><a href="/app/pages/./ui-alert.html">Alert</a></li>
							<li><a href="/app/pages/./ui-badge.html">Badge</a></li>
							<li><a href="/app/pages/./ui-button.html">Button</a></li>
							<li><a href="/app/pages/./ui-modal.html">Modal</a></li>
							<li><a href="/app/pages/./ui-button-group.html">Button Group</a></li>
							<li><a href="/app/pages/./ui-list-group.html">List Group</a></li>
							<li><a href="/app/pages/./ui-card.html">Cards</a></li>
							<li><a href="/app/pages/./ui-carousel.html">Carousel</a></li>
							<li><a href="/app/pages/./ui-dropdown.html">Dropdown</a></li>
							<li><a href="/app/pages/./ui-popover.html">Popover</a></li>
							<li><a href="/app/pages/./ui-progressbar.html">Progressbar</a></li>
							<li><a href="/app/pages/./ui-tab.html">Tab</a></li>
							<li><a href="/app/pages/./ui-typography.html">Typography</a></li>
							<li><a href="/app/pages/./ui-pagination.html">Pagination</a></li>
							<li><a href="/app/pages/./ui-grid.html">Grid</a></li>

						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-icons"> extension </i>
							<span class="nav-text">Plugins</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./uc-select2.html">Select 2</a></li>
							<li><a href="/app/pages/./uc-nestable.html">Nestedable</a></li>
							<li><a href="/app/pages/./uc-noui-slider.html">Noui Slider</a></li>
							<li><a href="/app/pages/./uc-sweetalert.html">Sweet Alert</a></li>
							<li><a href="/app/pages/./uc-toastr.html">Toastr</a></li>
							<li><a href="/app/pages/./map-jqvmap.html">Jqv Map</a></li>
							<li><a href="/app/pages/./uc-lightgallery.html">Light Gallery</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-icons"> widgets </i>
							<span class="nav-text">Widget</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./widget-chart.html">Chart</a></li>
							<li><a href="/app/pages/./widget-card.html">Card</a></li>
							<li><a href="/app/pages/./widget-list.html">List</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-icons"> insert_drive_file </i>
							<span class="nav-text">Forms</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./form-element.html">Form Elements</a></li>
							<li><a href="/app/pages/./form-wizard.html">Wizard</a></li>
							<li><a href="/app/pages/./form-ckeditor.html">CkEditor</a></li>
							<li><a href="/app/pages/form-pickers.html">Pickers</a></li>
							<li><a href="/app/pages/form-validation.html">Form Validate</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-icons"> table_chart </i>
							<span class="nav-text">Table</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/table-bootstrap-basic.html">Bootstrap</a></li>
							<li><a href="/app/pages/table-datatable-basic.html">Datatable</a></li>
						</ul>
					</li>
					<li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
							<i class="material-icons">article</i>
							<span class="nav-text">Pages</span>
						</a>
						<ul aria-expanded="false">
							<li><a href="/app/pages/./page-login.html">Login</a></li>
							<li><a href="/app/pages/./page-register.html">Register</a></li>
							<li><a class="has-arrow" href="javascript:void(0);" aria-expanded="false">Error</a>
								<ul aria-expanded="false">
									<li><a href="/app/pages/./page-error-400.html">Error 400</a></li>
									<li><a href="/app/pages/./page-error-403.html">Error 403</a></li>
									<li><a href="/app/pages/./page-error-404.html">Error 404</a></li>
									<li><a href="/app/pages/./page-error-500.html">Error 500</a></li>
									<li><a href="/app/pages/./page-error-503.html">Error 503</a></li>
								</ul>
							</li>
							<li><a href="/app/pages/./page-lock-screen.html">Lock Screen</a></li>
							<li><a href="/app/pages/./empty-page.html">Empty Page</a></li>
						</ul>
					</li>
				</ul>
				<div class="copyright">
					<p><strong>School Admission Dashboard</strong></p>
					<p class="fs-12">Made with <span class="heart"></span> by DexignLab</p>
				</div>
			</div>
        </div>
        <!--**********************************
            Sidebar end
