{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "admin-k12/akademi/partials/head.html" %}
<body>

{% include "admin-k12/akademi/partials/preloader.html" %}

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper" class="{% block main_wrapper_class %}wallet-open active{% endblock %}">

    {% include "admin-k12/akademi/partials/nav_header.html" %}
    {% include "admin-k12/akademi/partials/chatbox.html" %}
    {% include "admin-k12/akademi/partials/header.html" %}
    {% include "admin-k12/akademi/partials/sidebar.html" %}

    {% block content %}{% endblock %}

    {% include "admin-k12/akademi/partials/footer.html" %}

</div>

<!--**********************************
    Main wrapper end
***********************************-->

{% block extra_body %}{% endblock %}

{% include "admin-k12/akademi/partials/scripts.html" %}

</body>
</html>
